button {
  cursor: pointer;
  height: 40px;
  font-size: 20px;
  width: 80px;
}

.navbar {
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: 0%;
  width: 100%;
  color: #f2f2f2;
  padding: 14px 0px;
  font-size: 24px;
}

.title {
  text-decoration: inherit;
  color: inherit;
  padding: 14px 16px;
  cursor: pointer;
}

.link {
  text-decoration: inherit;
  color: inherit;
  padding: 20px 16px;
  font-size: 16px;
}

.title:hover,
.link:hover {
  background-color: whitesmoke;
  color: black;
}

.highlight {
  text-decoration: underline;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkslategrey;
}

.highlight:focus {
  background-color: rgb(186, 161, 184);
  color: rgb(37, 20, 98);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}
